.container {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.link {
  font-size: large;
  font-weight: bold;
  display: inline-block;
  padding: 10px 206px;
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: color 0.3s, background-color 0.3s;
}

.link:hover:not(.active) {
  color: rgba(255, 68, 0, 0.7);
  background-color: rgba(128, 128, 128, 0.3);
}

.link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 68, 0, 0.7);
  z-index: -1;
  transition: width 0.3s;
}

.link.active:after {
  width: 100%;
}

.active {
  color: white;
}
