.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}

.nav {
  display: flex;
}

.logo {
  font-size: x-large;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  margin: 0;
}

.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.link:hover:not(.active) {
  color: rgba(255, 68, 0, 0.7);
  background-color: rgba(128, 128, 128, 0.3);
}

.active {
  color: white;
  background-color: rgba(255, 68, 0, 0.7);
}
